.body{
    box-sizing: border-box;
    background: #121213;
    padding: 0;
    margin: 0;
}

.contenedor{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px 0;
    position: relative;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
}
.contenedor::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../imagenes/fondo--despues.jpg);
    background-size: cover;
    background-position: center;

    opacity: 0;
    transition: opacity 3s ease;
    transition-delay: 2s;
    z-index: 0;
}
.contenedor > *{
    position: relative;
    z-index: 1;
}
.contenedor:has(.corazon__img:hover)::before{
    opacity: 1;
}



.corazon{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.corazon__texto{
    scale: .6;
    color: #ecefec;
    transition-duration: 3s;
    transition-property: opacity;
    transition-timing-function: ease;

}
.corazon__img{
    width: 100px;
    height: 100px;
    background-image: url(../imagenes/carta-corazon.png);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    object-fit: contain;
    clip-path: inset(6%);
    transition-duration: 3s;
    transition-property: opacity;
    transition-timing-function: ease;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}
.corazon__img:hover{
    opacity: 0;
}
.corazon:has(.corazon__img:hover) .corazon__texto{
    opacity: 0;
}




.texto--uno, .texto--dos{
    display: inline-flex;
    color: black;
    opacity: 0;
    width: 200px;
    font-size: 3.5em;
    font-family: "Playwrite AT", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    transition-duration: 5s;
    transition-delay: 2.5s;
    transition-property: color, opacity;
    transition-timing-function: ease;
}

.texto--uno{
    justify-content: flex-end;
}
.texto--dos{
    justify-content: flex-start;
    transition-delay: 3s;
    width: 250px;
}

.contenedor:has(.corazon__img:hover) > .texto--uno{
    opacity: 1;
    color: #ecefec;
}

.contenedor:has(.corazon__img:hover) > .texto--dos{
    opacity: 1;
    color: #ecefec;
}



